<!DOCTYPE html>
<html lang="en" ng-app="ibjacApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>I be J.A.C. - Jerry A. Cornejo</title>
    <!-- Bootstrap -->
    <link href="/assets/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--favicon-->
    <link rel="apple-touch-icon" href="/assets/theme/img/ico.png">
    <link rel="shortcut icon" href="/assets/theme/img/ico.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Sarala:400,700%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>

    <!-- Theme Style -->
    <link href="/assets/theme/css/style.css" rel="stylesheet" type="text/css">
    <!-- Your custom css -->
    <link href="/assets/theme/css/theme-custom-a.css" rel="stylesheet">

    <!-- Font Icons -->
    <link href="/assets/external/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Captcha -->
    <link href="/assets/external/simpleCaptcha/jquery.simpleCaptcha.css" rel="stylesheet">
    <!-- lightbox -->
    <link href="/assets/external/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
  </head>
  <body ng-controller="ibjacController">
    <!-- Page Loader -->
    <div class="page-loader">
      <div class="v-align-center">
        <div class="middle-content">
          <div class="img-p-area"> <img src="/assets/theme/img/profile-thumb.jpg" alt="" class="img-thumbnail no-radius"></div>
          <span class="itsme" >I be...</span>
          <h4>J.A.C.</h4>
          <p>please wait</p>
          <div class="anim-pg">
            <span ></span>
          </div>
          <div class="force-pg"><button type="button" id='force-close-pg' class="btn">Skip This &rarr;</button></div>
        </div>
      </div>
    </div>
	<!-- End Page Loader -->
    <!-- body-area -->
    <div class="body-area">
      <!-- Header -->
      <header class="main-header">
        <div class="nav-main">
          <span class="itsme">Angular 1</span>
          <a href="/?on=1" id="vStatic"><span class="itsme not-selected btnc1"><span>Static</span></span></a>
          <a id="vReact" ng-init="isOut = 1" ng-mouseover="isOver = 1" ng-mouseleave="isOver = 0"><span class="itsme not-selected btnc1">
              <span ng-hide="isOver">React</span>
              <span ng-show="isOver" style="font-size:10px;">Coming Soon!</span>
          </span></a>
          <a href="#/menu-ovefly" class1="toogle-overfly"><i class="fa fa-bars open-t"></i> <i class="fa fa-times close-t"></i></a>
        </div>

        <!-- hero  -->
        <div class="hero-01">
          <div class="hero-border">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right">
              <div class="v-area">
                <div class="v-middle  show-span" >
                  <div class="p5" id="label-menu">
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>U</span>
                    <span>T</span>
                    <span></span>
                    <span>M</span>
                    <span>E</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="my-thumb">
            <div class="thumb-top"><img src="/assets/theme/img/profile-thumb.jpg" class="img-thumbnail no-radius"  alt="J.A.C."></div>
          </div>

          <div class="content-hero">
            <div class="v-content">
              <h4 class="font-normal">I be J.A.C.</h4>
              <h1 class="myname">Jerry A. Cornejo</h1>
              <h3 class="font-normal with-line">Senior Technologist & Entrepreneur</h3>
              <p><!--a href="#" class="btn btnc1"><span>Hire Me</span></a--> <?php if (isset($dispDetails)): ?><a href="https://www.dropbox.com/s/rv2b8mytrj06313/ExecResume.docx?dl=0" target="_blank" class="btn btnc1"><span>Download Resume</span></a><?php endif ?></p>
            </div>
          </div>
        </div><!-- hero  -->
      </header><!-- end HEader -->
        
      <!-- Content body -->
      <div class="content-body" ng-include="'js/templates/content-body.html'"></div>
      <!--p style="position: absolute; top: 0; right: 0; z-index: 1000;">-{{ dispdetail }}-</p-->
        
      <!-- footer -->
      <footer class="main-footer">
        &COPY; <?=date('Y');?> I be J.A.C.
      </footer><!-- footer -->
    </div><!-- body-area -->


    <!-- portfolio details ajax -->
    <div class="over-fly-area" id="load-works" ng-show="dispwork">
      <!--div class="inner-overfly" id="work-wait-msg">
        <div class="middle-overfly">
          <h2 class="title-over">PLEASE WAIT...</h2>
        </div>
      </div-->
      <div class="work-close"><a ng-href="#/?on={{dispdetail}}" class="btn btn-xs btn-default" ng-click="setdisp(false)">Close</a></div>
      <div id="load-work-html" ng-view></div>
    </div>
    <!-- Modal Example-->
    <div class="modal fade" id="modal-example" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Extra Pages</h4>
          </div>
          <div class="modal-body">
            <ul class="list-boxpage">
              <li><a href="blog-list-posts.html" class="open-link">Blog List Post</a></li>
              <li><a href="blog-single-post.html" class="open-link">Blog Single Post</a></li>
              <li><a href="404.html" class="open-link">404 error</a></li>
              <li><a href="cooming-soon.html" class="open-link">Cooming Soon</a></li>
              <li><a href="theme-element.html" class="open-link">Theme Element</a></li>
            </ul>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div><!-- end  Modal Example-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/external/jquery.min.js"></script>
    <script src="/assets/external/jquery.easing-1.3.pack.js"></script>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/work.js"></script>
    <script src="js/directives/main.js"></script>
    <script src="js/filters/main.js"></script>

    <!-- Include all compiled plugins (below)-->
    <script src="/assets/external/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/external/jquery.easypiechart.min.js"></script>
    <script src="/assets/external/validator/jquery.validate.min.js"></script>
    <script src="/assets/external/simpleCaptcha/jquery.simpleCaptcha.js"></script>
    <script src="/assets/external/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/external/metisMenu/metisMenu.js"></script>

    <!-- theme config --> 
    <script src="/assets/theme/js/theme.js"></script>
    <script src="/assets/theme/js/theme-custom.js"></script>

  </body>
</html>