<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> 
<script src="/assets/external/gmap3.min.js"></script>
<script src="/assets/theme/js/map.js"></script>
<script src="/assets/external/isotope.pkgd.min.js"></script>
<script src="/assets/theme/js/theme.js"></script>

<!-- start about me section -->
<section id="aboutme">
  <div class="section-padd bg2" >
    <div class="container-body clearfix">
      <div class="big-qoute">
        <h3><em>"Start where you are. Use what you have. Do what you can."</em><br /><br />
        <small>&rarr; Arthur Ashe (by way of Theodore Roosevelt)</small></h3>
      </div>
    </div>
  </div>

  <div class="section-padd top-bold-border" >
    <div class="container-body clearfix">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title"><span>Who be J.A.C</span></h2>
          <p>An accomplished web-business architect and strategist with close to 20 years of web development experience. A strong "hybrid" skill-set encompassing leadership, architecture and both frontend and backend development. Highly regarded by business partners and executive teams as a key advisor, creative problem solver, skilled leader, and astute process and business analyst.</p>  
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix br-t" >
    <div class="col-md-6 col-sm-6 no-padding">
      <div class="desc-mini no-br-l">
        <div class="mid-desc-mini">
          <h3>Senior Technologist</h3>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 no-padding">
      <div class="desc-mini">
        <div class="mid-desc-mini">
          <h3>Entrepreneur</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="bg2 p30 br-b">
    <div class="container-body clearfix">
      <div class="clearfix br-t br-r ">
        <div class="col-lg-4 col-md-6 col-sm-6 no-padding" ng-repeat="skill in skillslist">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <h4>{{skill.title}}</h4>
              <p>{{skill.caption}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about me section -->

<!-- start resume section -->
<section id="resume">
  <div class="section-padd" >
    <div class="container-body clearfix"><br />
      <a href="#" onclick="return false;" data-target="#collapseEntrepreneurship" data-toggle="collapse" aria-controls="collapseEntrepreneurship" class="cv-header" ng-click="isEntreOpen = !isEntreOpen">
          <h2 class="title"><span>Entrepreneurship</span></h2>
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-hide="isEntreOpen"></span>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="isEntreOpen"></span></a>

      <div class="white-space-10" ></div>
      <!-- entrepreneurship list-->
      <ul id="collapseEntrepreneurship" class="resume-list collapse">
        <li ng-repeat="startup in entrepreneurship">
          <h4><i class="fa fa-calendar ic-re" ></i> {{ startup.date }}</h4>
          <i>{{ startup.title }}</i>
          <h3><i class="fa fa-building-o ic-re" ></i> <span ng-bind-html="startup.company"></span></h3>
          <p>{{ startup.descrip }}</p>
        </li>
      </ul><!-- end entrepreneurship list-->

      <a href="#" onclick="return false;" data-target="#collapseEmployment" data-toggle="collapse" aria-controls="collapseEmployment" class="cv-header" ng-click="isEmployOpen = !isEmployOpen">
          <h2 class="title"><span>Employment</span></h2>
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-hide="isEmployOpen"></span>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="isEmployOpen"></span></a>

      <div class="white-space-10" ></div>

      <!-- employment list-->
      <ul id="collapseEmployment" class="resume-list collapse">
          <li ng-repeat="job in employment" prev-employment></li>
      </ul><!-- end employment list-->

      <a href="#" onclick="return false;" data-target="#collapseEducation" data-toggle="collapse" aria-controls="collapseEducation" class="cv-header" ng-click="isEduOpen = !isEduOpen">
          <h2 class="title"><span>Education</span></h2>
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-hide="isEduOpen"></span>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="isEduOpen"></span></a>

      <div class="white-space-10" ></div>

      <!-- resume list-->
      <ul id="collapseEducation" class="resume-list collapse"> 
        <li> 
          <h4><i class="fa fa-calendar ic-re"></i> 2011</h4>
          <i>Founder</i>
          <h3><i class="fa fa-building-o ic-re" ></i> <a href="http://fi.co">Founder Institute</a></h3>
          <p>The Founder Institute is the world's premier startup boot camp for talented entrepreneurs. Through a structured, 4-month curriculum of weekly training courses and business-building assignments, graduates of the Founder Institute come out as Founders of enduring companies.</p>
        </li>
        <li> 
          <h4><i class="fa fa-calendar ic-re" ></i> 2004</h4>
          <i>Business Management Certificate</i>
          <h3><i class="fa fa-building-o ic-re" ></i> California Institute of Business Management</h3>
        </li>
        <li> 
          <h4><i class="fa fa-calendar ic-re" ></i> 1992 - 1998</h4>
          <i>Computer Science Undergrad</i>
          <h3><i class="fa fa-building-o ic-re" ></i> California State University Dominguez Hills</h3>
        </li>
      </ul><!-- end resume list-->
 
      <a href="#" onclick="return false;" data-target="#collapseIBMe" data-toggle="collapse" aria-controls="collapseIBMe" class="cv-header" ng-click="isIBMeOpen = !isIBMeOpen">
          <h2 class="title"><span>I Be Me</span></h2>
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-hide="isIBMeOpen"></span>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="isIBMeOpen"></span></a>

      <div class="white-space-10" ></div>

      <!-- resume list-->
      <ul id="collapseIBMe" class="resume-list collapse"> 
        <li> 
          <div class="img-pr"><img src="/assets/theme/img/profile.jpg" alt="J.A.C." ></div>
          <h4><i class="fa fa-calendar ic-re"></i> 1997 - Now</h4>
          <i>I BE ME</i>
          <h3><i class="fa fa-building-o ic-re" ></i> When WWW was just 6</h3>
          <p>My first web development job was in 1997 doing HTML coding for an interactive agency in Torrance, CA. The "<a href="https://en.wikipedia.org/wiki/World_Wide_Web" title="WikiPedia: World Wide Web">World Wide Web</a>" was only 6 years old then and while it was the "cool" new thing, most people had no clue how impactful it would be on everyday life.</p>  
				  
          <p>The plan back then was to work in a creative field as a designer, but as plans often do, they rarely go as expected. Through no conscious desire of my own, not even as a "what if," the design trajectory I had laid out for myself propelled me into the world of web development where I quickly became consumed by it...and that was a good thing.</p>
				  
		  <p><a href="https://en.wikipedia.org/wiki/Arthur_Ashe" title="WikiPedia: Arthur Ashe">Arthur Ashe's</a> quote, "<em>Start where you are. Use what you have. Do what you can.</em>" is how I began. In the late 90's there were no web development degrees, no developer boot camps, and no online training courses. Internet access was not easy to come by but every chance there was I spent web surfing, researching, self-training and coding.</p>
				  
		  <p>A quote by <a href="https://en.wikipedia.org/wiki/Jason_Calacanis" title="WikiPedia: Jason Calacanis">Jason Calacanis</a> I feel also fits my experience quite nicely.</p>
				  
		  <blockquote><em>You have to have a big vision and take very small steps to get there. You have to be humble as you execute but visionary and gigantic in terms of your aspiration. In the Internet industry, it's not about grand innovation, it's about a lot of little innovations: every day, every week, every month, making something a little bit better.</em></blockquote>
				  
		  <p>This has been my journey and what still excites me about what I do is that as I try to work on small innovations every day, week and month to make what I'm working on just a little better, that same process is making me just a little better as well.</p>
        </li>
      </ul><!-- end resume list-->
 
	 <?php if (isset($dispDetails)): ?>
      <!-- skills -->
      <h3 class="title-2"><span>Varying knowledge, skills, or expertise in...</span></h3>
      <div id="skills" class="clearfix br-t br-r " >
        <div class="col-sm-2 col-xs-6 no-padding" ng-repeat="skill in skillterms">
          <div class="desc-mini">
            <div class="mid-desc-mini">
              <p>{{skill}}</p>
            </div>
          </div>
        </div>
      </div>
 <?php endif ?>
    </div>
  </div>
</section><!-- end resume section-->

<!-- start portfolio section-->
<?php if (isset($dispDetails)): ?>
<section id="portfolio">

  <!-- filter portfolio -->
  <div class="section-padd br-t bg2" >
    <div class="container-body clearfix">
      <h2 class="title dark"><span>Some Works</span></h2>
      <ul class="list-inline list-filter-galery">
        <li class="active" data-filter="*"><a href="#">All</a></li>
        <li data-filter=".fed"><a href="#">Frontend</a></li>
        <li data-filter=".bed"><a href="#">Backend</a></li>
        <li data-filter=".cms"><a href="#">CMS</a></li>
        <li data-filter=".other"><a href="#">Other</a></li>
      </ul>
    </div>
  </div>

  <!-- grid portfolio -->
  <div class="galery-box clearfix bg2">
    <div class="col-sm-3 col-xs-6 item-box {{proj.cats}}" ng-repeat="proj in projects">
      <div class="hover-area" proj-link></div>
      <div id="bs-gslider1" class="carousel slide carousel-fade" data-ride="carousel" ng-if="proj.slides">
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="($index==0) ? 'active' : ''" ng-repeat="slide in proj.slides">
            <img src="/assets/theme/img/thumb/{{slide.img}}" alt="{{proj.title}} - {{slide.alt}}">
          </div>
        </div>
      </div>
      <img src="/assets/theme/img/thumb/{{proj.img}}" alt="{{proj.title}}" ng-if="proj.img">
    </div>
			
    <div class="item-box fed bed cms other" style="width:100%; height:10px;">&nbsp;</div>
  </div>
  <!-- end grid portfolio -->

  <!-- logos -->  
  <div class="section-padd">
    <div class="container-body clearfix">
      <h2 class="title"><span>Past Projects/Clients</span></h2>
      <div class="white-space-10"></div>
      <ul class="list-inline text-center list-force-img clearfix" client-companies></ul>
  </div>
  <!-- end logos -->
</section>
<?php endif ?>
		
<!-- start contact section -->
<section id='contact'>

  <!-- map -->
  <div class="map-area  br-t br-b">
    <!-- change data-lat="48.856318" data-lng="2.351866" with your location-->
    <div class="map" id="map" data-lat="34.10" data-lng="-118.13"></div>
    <div class="map-scroll-space"></div>
    <div class="map-wait-msg">Please Wait...</div>
    <div class="map-detail-location">
      <h4>Location:</h4>
      <p>Alhambra, CA<br />U.S.A.</p>
    </div>
  </div><!-- end map -->

  <!-- contact form -->
  <div class="section-padd">
    <div class="container-body clearfix">
        <h2 class="title dark"><span>Tell Me About: <small id='show-subject'>...</small> <small><a href="#" class="fire-toogle-subject mini-arrow"><i class="fa fa-angle-down"></i></a></small></span></h2><!--div><em>Note: I'm not currently available for work or projects.</em></div-->
        
        <div class="dropdown top-min">
            <a href="#" data-toggle="dropdown" id='toogle-subject'></a>
            <ul class="dropdown-menu" id="option_subject" >
                <li><a href="#">Your Next Project</a></li>
                <li><a href="#">Your Upcoming Conference</a></li>
                <li><a href="#">Your Dev Training Program</a></li>
                <li><a href="#">How We Met</a></li>
            </ul>
        </div>
        
        <div class="white-space-10"></div>
        
        <form method="post" id="ContactForm" name="contactForm" class="validate-form">
            <input type="hidden" name="subject" value="" id='subject_contact'>
            <input type="hidden" name="file" id="file-att" value="">
            <div class="form-group">
                <label>Your Name (*)</label>
                <input type="text" class="form-control form-flat" name="fullname" required>
            </div>
            
            <div class="form-group">
                <label>Email (*)</label>
                <input type="email" class="form-control form-flat" name="email" required>
            </div>

            <div class="form-group">
                <label>Your Message (*)</label>
                <textarea class="form-control form-flat" name="message" rows="8"  required></textarea>
            </div>

            <div class="hold-feature uploader-hold">
                <div class="form-group">
                    <label>Attach Your Document (Optional) <span class="display-block ">(only .pdf  allowed , max size 2Mb)</span></label>
                    <div class="clearfix">						
                        <input type="button" id="upload-btn" class="btn  btn-file btn-xs btn-default clearfix" value="Choose file">
                        <div id="errormsg" class="clearfix error"></div>	    
                        <div id="pic-progress-wrap" class="progress-wrap"></div>	
                        <div id="picbox" class="attbox "></div>
                    </div>
                </div>  
            </div>

            <div class="hold-feature captcha-hold">
                <div class="form-group">
                    <!-- generate captcha -->
                    <div id="mycaptcha-wrap" class="mycaptcha1">
                        <div id="mycaptcha" class="mycaptcha1"></div>
                    </div>
                </div>  
            </div>

            <div class="form-group">
                <!-- aja msg -->
                <div class="preload-submit hidden"><hr/> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</div>
                <div class="message-submit error hidden"></div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btnc2 with-br "><span>Send This Message</span></button>
            </div>
        </form>
     </div>
  </div>
<!-- end contact form -->


</section><!-- end contact section -->