<div class="over-fly-area" id="menu-ovefly">
  <div class="inner-overfly">
    <div class="middle-overfly">
      <h2 class="title-over">Menu</h2>
      <nav class="main-nav" id="menu">
        <ul class="nav">
          <li class="active"><a href="#aboutme" class="inner-link" data-text="About Me"><span>About Me</span></a></li>
          <li><a href="#resume" class="inner-link" data-text="Curriculum vitae"><span>Curriculum Vitae</span></a></li>
          <!--li><a href="#portfolio" class="inner-link" data-text="My Portfolio"><span>Portfolio</span></a></li>
          <li><a href="#"><span>Blog</span></a></li-->
          <li><a href="#contact" class="inner-link"  data-text="Contact Me"><span>Contact</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

