<h4><i class="fa fa-calendar ic-re" ></i> {{ job.date }}</h4>
<i>{{ job.title }}</i>
<h3><i class="fa fa-building-o ic-re" ></i> <span ng-bind-html="job.company"></span></h3>

<p ng-bind-html="job.descrip"></p>

<div class="achievements" ng-if="dispdetail">
    <strong>{{ job.achievetitle }}</strong>
    <ul>
        <li ng-repeat="achieve in job.achievements" ng-bind-html="(achieve.title)+(achieve.descrip)"></li>
    </ul>
</div>

<span ng-if="(dispdetail) && (job.testimonials.length > 0)">
    <a href="#" onclick="return false;" data-target="#collapse{{ job.title | remSpaces }}{{ $index }}" data-toggle="collapse" aria-controls="collapse{{ job.title | remSpaces }}{{ $index }}" class="cv-testimonials" ng-click="isTestiOpen = !isTestiOpen">
        <h4 class="title"><span>Testimonial</span></h4>
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-hide="isTestiOpen"></span>
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="isTestiOpen"></span>
        <i>({{ job.testimonials.length }})</i></a>

    <ul id="collapse{{ job.title | remSpaces }}{{ $index }}" class="list-unstyled list-testimonial collapse clearfix">
        <li ng-repeat="monial in job.testimonials">
            <img src="/assets/theme/img/people/{{ monial.avatar }}" alt="{{ monial.person }}" class="img-thumbnail img-circle">
            <div class="text-testimonial">
                <h3><a href="{{ monial.profile }}" target="_blank"><span class="fa fa-linkedin-square"></span> {{ monial.person }}</a><br />
                    <small><i>{{ monial.caption }}</i></small>
                </h3>

                <p><sup><span class="fa fa-quote-left"></span></sup> {{ monial.quote }} <sup><span class="fa fa-quote-right"></span></sup></p>

                <h4>{{ monial.company }} - <small>{{ monial.position }} <a href="{{ monial.companyurl }}" target="_blank"><i class="fa fa-globe"></i> {{ monial.companyurl }}</a></small></h4>
            </div>
        </li>
    </ul>
</span>