<div class="section-padd " >
  <div class="container-body clearfix">
    <!-- project title -->
    <h2 class="title"><span>{{workCtrl.projects[workCtrl.indx].title}}</span></h2>
    <div class="white-space-10"></div>

    <!-- project preview -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active:$index===0}" ng-repeat="bullet in workCtrl.projects[workCtrl.indx].images"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item" ng-class="{active: $index===0}" ng-repeat="scrnshot in workCtrl.projects[workCtrl.indx].images">
          <img src="/assets/theme/img/portfolio/{{ scrnshot.img }}" alt="{{workCtrl.projects[workCtrl.indx].title}} - {{ scrnshot.capt }}" class="img-full">
          <div class="carousel-caption">
            {{workCtrl.projects[workCtrl.indx].title}} {{ scrnshot.capt }}
          </div>
        </div>
      </div>

      <!-- Controls -->
      <span ng-if="(workCtrl.projects[workCtrl.indx].images.length) > 1">
        <span class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </span>
        <span class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </span>
      </span>
    </div>

    <div class="white-space-30"></div>

    <!-- project descriptions -->
    <ul id="myTabs" class="nav nav-tabs flat-nav-tabs" role="tablist">
      <li ng-class="{active: workCtrl.isSelected($index+1)}" role="project" ng-repeat="(key, val) in workCtrl.projects[workCtrl.indx].descript">
          <a ng-click="workCtrl.selectTab($index+1)" id="tab-{$index+1}" role="tab" aria-controls="home" aria-expanded="true">{{key}}</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div ng-show="workCtrl.isSelected($index+1)" role="tabpanel" ng-class="{active: workCtrl.isSelected($index+1)}" id="tab{$index+1}" aria-labelledBy="home-tab" ng-repeat="(key, val) in workCtrl.projects[workCtrl.indx].descript">
        <div class="flat-tab-content" ng-bind-html="val"></div>
      </div>
    </div>

    <hr/>
    
    <p><a ng-href="{{cta.link}}" target="_blank" class="btn btnc2 with-br" style="margin-right:10px;" ng-repeat="cta in workCtrl.projects[workCtrl.indx].cta"><span>{{cta.text}} <i class="fa fa-globe"></i></span></a> </p>
  </div>
</div>